DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backend_assessment?schema=public"
USER_SERVICE_GRPC_HOST=0.0.0.0
USER_SERVICE_GRPC_PORT=50051
USER_SERVICE_GRPC_URL=localhost:50051
WALLET_SERVICE_GRPC_HOST=0.0.0.0
WALLET_SERVICE_GRPC_PORT=50052
WALLET_SERVICE_GRPC_URL=localhost:50052
